* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header,
main,
footer {
  padding-left: 15px;
  padding-right: 15px;
}

header,
footer {
  display: flex;
  align-items: center;
}

html {
  body {
    #__next {
      header {
        position: fixed;
        background: white;
        width: 100%;
        z-index: 2;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
        height: 70px;

        nav {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          h3 {
            margin: 0;
            width: 100%;
          }

          ul {
            list-style-type: none;
            display: flex;
            padding: 0;

            li {
              margin-left: 15px;

              .quantity {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: lightgray;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 5px;
              }

              &.cart-link {
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }

      main {
        padding-top: 100px;
        min-height: calc(100vh - 50px);

        .search {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          height: 96px;

          p {
            padding: 0;
            margin-bottom: 0;
          }
        }

        .products {
          flex-wrap: wrap;
          justify-content: center;
        }

        .cart {
          flex-wrap: wrap;
          justify-content: center;

          .cart-content {
            flex-wrap: wrap;
            justify-content: center;
            flex: 0.7;
          }

          .cart-pricing {
            flex: 0.3;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 300px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            margin-top: 30px;
            margin-right: 10%;
          }

          aside {
            display: flex;
          }
        }

        section {
          display: flex;

          .product {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin-top: 30px;
            box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

            h3 {
              text-align: center;
              padding: 15px;
              margin: 0;
            }

            .image-container {
              position: relative;

              .price {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 1;
                color: white;
              }
            }

            figcaption {
              text-align: justify;
              max-height: 200px;
              overflow-y: auto;
              padding: 15px;
            }

            .btns-container {
              display: flex;
              justify-content: space-evenly;

              button {
                margin: 15px;
              }
            }
          }
        }
      }

      footer {
        height: 50px;
        background: lightgray;
      }
    }
  }
}
